@font-face{
    font-family: 'doodle';
    src: url('assets/fonts/comic-neue/ComicNeue-Regular.ttf');
}

/* GLOBAL CONFIG*/

body {
    font-family: doodle;
    margin: 0;
    background-color: #99e2ff;
}

a{
    text-decoration: none;
    color: black;
}

button{
    font-family: doodle;
}

header{
    padding: 0 300px 0 300px;
    background-color: white;
}

/* NAV */

.options{
    display: flex;
    justify-content: space-around;
    padding:  15px 0;

}

.options a{
    font-weight: bolder;
}

.nav-icon{
    width: 20px;
}

.btn-connect{
    background-color: #80b1ff;
    color: white;
    border-radius:150px;
    border: 0;
    border-bottom: 3px solid #6d96d8;
    padding: 0px 15px 0px 15px;
}

/* MAIN VIDEO-BANNER */

.main-video{
    position: relative;
    margin: 0;
}


.main-video video{
    display: flex;
    width: 100%;
}



.comming-soon-container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 660px;
    width: 200px;
    flex-wrap: wrap;
}


.comming-soon-logo{
    width: 400px;
}

.comming-soon-text{
    width: 250px;
}

.btn-trailer{
    border: 2px solid #5086dc;
    border-bottom: 4px solid #5086dc;
    border-radius: 7px;
    margin-top: 300px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    width: 150px;
}

/* SEPARATOR */

.separator{
    display: flex;
    height: 40px;
    background-color: #313a71;
}


/* SING UP FORM */

.sing-up-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #80b1ff;
    margin: 0;
    padding: 10px 250px 10px 250px;

}

.sing-up-info p{
    color: white;
    margin: 0;
}


.email-box{
    border: 0;
    border-radius: 7px;
    padding: 5px;
    width: 200px;
}

.send-email{
    border-radius: 7px;
    border: 0;
    color: #6d96d8;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
}


/* INFO APP */


.info{
    display: flex;
    justify-content: space-around;
    padding: 100px 365px 100px 350px;
}

.app-info{
    margin-top: 150px;
    margin-left: -120px;
}

.app-text1{
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.app-text2{
    font-size: 13px;
    font-weight: bold;
}

.app-mock{
    height: 600px;
}


/* GENESIS BOX */

.genesis-box{
    display: flex;
    position: relative;
    margin: 20px auto;
    width: 1000px;
}
.genesis-box-img{
    width: 1000px;
    border-radius: 20px;
}

.genesis-box-gif{
    width: 450px;
    position: absolute;
    top: 0;
    right: 0;

}

.genesis-box-info{
    padding: 75px 30px 30px 30px;
    position: absolute;
    top: 0;
    left: 0;

}

.genesis-box-promo{
    width: 500px;
}

.genesis-box-text1{
    color: white;
    width: 500px;
    font-weight: bold;

}

.buy-opensea{
    display: block;
    background-color: #80b1ff;
    color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 7px;
    font-weight: bold;
}

.learn-more{
    display: block;
    color: white;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 15px;
}


/* NEW STANDS */

.new-stand-title{
    display: block;
    width: 250px;
    margin: 50px auto;
}

.cards{
    display: flex;
    justify-content: space-around;
    padding: 20px 270px;
    gap: 20px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 280px;
}
.card img{
    width: 100%;
    height: 150px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.card-text{
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: left;
    padding: 0px 15px 0px 15px;
    height: 130px;
}

.card-text-1{
    font-weight: bolder;
}

.card-text-2{
    font-size: 12px;

}

/* FOOTER */

footer{
    height: 170px;
    background-color: #ffa4d4;
    margin-top: 50px;
    padding: 30px 200px 30px 200px;
}

.links-table{
    text-align: left;
    color: white;
    margin-bottom: 20px;
}
.links-table td{
    padding: 0 30px;

}

.links-table a{
    color: white;
    font-size: 15px;
}

.links-table th{
    padding: 0 30px;
    font-weight: bold;
}

/* FOOTER PUBLI AND COPYRIGHT */


.footer-publi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

.img-emoji{
    width: 85px;
}
.text-emoji{
    font-size: 11px;
    color: #fc7cc5;
    font-weight: bold;
}

.icons{
    display: flex;
}
.icons img{
    width: 30px;
    margin-right: 10px;
}
